.section {
  min-height: 100vh;
}
.competitionsContainer > * + * {
  margin-top: 1rem;
}

.competitionsContainer {
  padding: 1rem;
}

.slideContainer2 {
  display: flex;
  overflow-x: scroll;
}

.slide {
  margin-left: 0.7rem;
}

.slideContainer2::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 913px) {
  .slideContainer2 {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
  }
}
