.desktop {
  display: none;
  width: 100%;
}

.mobile {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .desktop {
    display: block;
    width: 100%;
  }

  .mobile {
    display: none;
    width: 100%;
  }
}
