.navMenu > * + * {
  margin-top: 0.5rem;
  position: relative;
}

.navItemWrapper {
padding: 1rem;
}

.navItemWrapper > *+*{
  margin-top: 1rem;
}

.navItemText {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .navMenu {
    padding: 1rem;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 9999;
    background-color: #3c0054;
  }

  .navMenu.showMenu {
    visibility: visible;
    transition: 0.4s;
    opacity: 1;
  }
}
.navItemImage {
  width: 15px;
}
.navItem {
  display: flex;
  gap: 0.5rem;
  border-radius: 5px;
  color: #fff;
  align-items: center;
}

.navItem {
  color: #f0eeee;
}
.navItem :global(.active) {
  color: #fff;
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .navMenu {
    padding: 1rem;
    width: 10%;
    height: 100dvh;
    transition: 0.4s;
    position: sticky;
    top: 0;
    /* z-index: 9999; */
    margin-top: -6rem;
    background-color: #3c0054;
  }
  .navMenu {
    width: 10%;
    transition: 0.4s;
  }

  .navItemText {
    display: none;
    transition: 0.4s;
  }
}
@media screen and (min-width: 913px) {
  .navMenu {
    padding: 1rem;
    width: 20%;
    height: 100dvh;
    transition: 0.4s;
    padding-top: 1rem;
    position: sticky;
    top: 0;
    background-color: #3c0054;
  }
  .navMenu.menuCollapse {
    padding-left: 0;
    z-index: 10;
    width: 8%;
    height: 100%;
    transition: 0.4s;
    padding-top: 1rem;
    background-color: #3c0054;
  }

  .navItemText {
    display: block;
    font-size: 0.7rem;
  }
  .navItemText.textRemove {
    display: none;
    transition: 0.4s;
  }
}
@media screen and (min-width: 1440px) {
  .navItemImage {
    width: 20px;
  }
  .navMenu {
    padding: 1rem;
    width: 20%;
    height: 100dvh;
    transition: 0.4s;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    background-color: #3c0054;
  }

  .navItemText {
    display: block;
    font-size: 0.8rem;
    transition: 0.4s;
  }

  .navMenu.menuCollapse {
    width: 5%;
    transition: 0.4s;
  }

  .navItemText.textRemove {
    opacity: 0;
    /* display: none; */
    transition: 0.4s;
  }
}
